@import 'reset';
@import 'clear';

input[type="text"]:focus{
	outline: none;
}
button:focus{
	outline: none;
}

@font-face{
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body{

.wrapper{
	width:100%;
	header{
		margin:0 auto;
		max-width:1440px;
		background: url(../img/fon.png) no-repeat;
		background-size: 100% 100%;
		padding-bottom:68px;
		.top_block{
			max-width:960px;
			margin:0 auto;
			.left_top_block{
				width:50%;
				height:50px;
				float:left;
				padding-top:35px;
				p{
					font-family: 'Myriad Pro', sans-serif;
					font-size: 20px;
					font-weight:600;
					color:#fff;
					margin-left: 5%;
					letter-spacing: 0.8px;
				}
			}
			.right_top_block{
				width:50%;
				padding-top:35px;
				float:right;
				position:relative;
				.wrap_btn{
					margin-top: -8px;
					#sign_inn{
						float:right;
						margin-right:18px;
						text-decoration:none;
						line-height:32px;
						color:#fff;
						font-size: 13px;
						font-weight:800;
					}
					#sign_inn:hover{
						color:orange;
					}
					#sign_up_btn{
						padding:6px 16px 6px 14px;
						float:right;
						border:2px solid #fff;
						-moz-border-radius: 16px;
						-webkit-border-radius: 16px;
						-khtml-border-radius: 16px;
						border-radius: 16px;
						text-decoration:none;
						color:#fff;
						font-size: 13px;
						font-weight:800;
					}
					#sign_up_btn:hover{
						color:orange;
						border:2px solid orange;
					}
				}
				.login-form{
					display:none;
					position: absolute;
					width: 200px;
					height: 200px;
					padding: 15px 25px 0 25px;
					margin-top: 10px;
					margin-left: 115px;
					cursor: default;
					background-color: #141517;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
					-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
					box-shadow: 2px 2px 1px 1px rgba(255,255,255, 0.2), inset 0px 1px 1px 0px rgb(0,0,0);
					h1{
						line-height: 40px;
						font-family: 'Myriad Pro', sans-serif;
						font-size: 22px;
						font-weight: normal;
						color: #e4e4e4;
					}
					form{
						input[type=text],
						input[type=password],
						input[type=submit] {
							line-height: 14px;
							margin: 10px 0;
							padding: 6px 15px;
							border: 0;
							outline: none;
							font-family: Helvetica, sans-serif;
							font-size: 12px;
							font-weight: bold;
							text-shadow: 0px 1px 1px rgba(255,255,255, .2);
							-webkit-border-radius: 26px;
							-moz-border-radius: 26px;
							border-radius: 26px;
							-webkit-transition: all .15s ease-in-out;
							-moz-transition: all .15s ease-in-out;
							-o-transition: all .15s ease-in-out;
							transition: all .15s ease-in-out;
						}
						input[type=text],
						input[type=password]{
							color: #686868;
							width: 170px;
							-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
							-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
							box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
							background: #989898;
							background: -moz-linear-gradient(top,  #ffffff 0%, #989898 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#989898));
							background: -webkit-linear-gradient(top,  #ffffff 0%,#989898 100%);
							background: -o-linear-gradient(top,  #ffffff 0%,#989898 100%);
							background: -ms-linear-gradient(top,  #ffffff 0%,#989898 100%);
							background: linear-gradient(top,  #ffffff 0%,#989898 100%);
						}
						input[type=text]:hover,
						input[type=password]:hover {
							-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
							-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
							box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
						}
						input[type=text]:focus,
						input[type=password]:focus {
							background: #e1e1e1;
							background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
							background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
							background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
							background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
							background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
						}
						input[type=submit] {
							float: right;
							cursor: pointer;
							color: #445b0f;
							-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
							-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
							box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
						}
						input[type=submit]:hover {
							-webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
							-moz-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
							box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
						}
						input[type=submit]:active {
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							box-shadow: none;
						}
						input[type=submit]{
							background: #a5cd4e;
							background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
							background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
							background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
							background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
							background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
						}
						span{
							position: relative;
							margin-top: 15px;
							float: left;
							label{
								position: absolute;
								top: 1px;
								left: 25px;
								font-family: sans-serif;
								font-weight: bold;
								font-size: 12px;
								color: #e4e4e4;
							}
						}
					}
				}
				.login-form:before{
					position: absolute;
					top: -12px;
					left: 210px;
					width: 0px;
					height: 0px;
					content: '';
					border-bottom: 10px solid #141517;
					border-right: 10px solid #141517;
					border-top: 10px solid transparent;
					border-left: 10px solid transparent;
				}
				
			}
			}
			.title_page{
				max-width:550px;
				margin:0 auto;
				padding:120px 0 130px 28px;
				p:nth-child(1){
					text-align:center;
					font-size:50px;
					font-weight:700;
					color:#fff;
					letter-spacing:1.5px;
				}
				p:nth-child(2){
					text-align:center;
					font-size:50px;
					font-weight:700;
					color:#fff;
					line-height:70px;
					letter-spacing:2.2px;
				}
				p:nth-child(3){
					margin-top:20px;
					text-align:center;
					font-size:22px;
					font-weight:200;
					color:#fff;
					letter-spacing:1px;
				}
				a{
					margin:37px auto;
					-moz-border-radius: 20px;
					-webkit-border-radius: 20px;
					-khtml-border-radius: 20px;
					border-radius: 20px;
					text-decoration:none;
					font-size:15px;
					font-weight:600;
					color:#fff;
					background-color: #FF4E50;
					cursor: pointer;
					display:block;
					max-width:35%;
					padding:10px 20px 10px 20px;
					text-align:center;
				}
				a:hover{
					background-color: #C02D12;
					color:#7E7E87;
				}
		}
	}
	article{
		margin:0 auto;
		background-color: #fff;
		max-width:1440px;
		padding-left:37px;
		.wrap_center_article{
			max-width:960px;
			margin:95px auto;
			p{
				font-size:22px;
				font-weight:700;
				text-align:center;
				letter-spacing:0.4px;
			}
			.title_center_article{
				padding-top:35px;
				width:100%;
				display:inline-flex;
				justify-content:space-around;
				flex-wrap:wrap;
				.slide{
					#slidebox{
						position:relative;
						overflow:hidden;
						max-width:300px;
						height:400px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-khtml-border-radius: 5px;
						border-radius: 5px;
						.next{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							right:0;
							margin-right:14px;
							background:url(../img/next.png) no-repeat left top;
						}
						.previous{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							margin-left:18px;
							background:url(../img/prev.png) no-repeat left top;
						}
						ul{
							width:100%;
							height:400px;
							li{
								width:100%;
								height:100%;
								position:relative;
								left:0;
								float:left;
								list-style: none;
								font-family:Verdana, Geneva, sans-serif;
								font-size:13px;
								div{
									position:absolute;
									font-family:Verdana, Geneva, sans-serif;
									font-size:23px;
									color:#fff;
									z-index:9999;
									bottom:0;
									padding:0px 13px 18px 17px;
									a{
										font-size:11px;
										-moz-border-radius: 20px;
										-webkit-border-radius: 20px;
										-khtml-border-radius: 20px;
										border-radius: 20px;
										text-decoration:none;
										color:#fff;
										font-weight:400;
										background-color: #FF4E50;
										cursor: pointer;
										max-width:100%;
										padding:5px 18px 5px 18px;
										text-align:center;
									}
									p:nth-child(2){
										font-size:21px;
										font-weight:600;
										max-width:200px;
										text-align:left;
										line-height: 25px;
										margin-top: 18px;
									}
									p:nth-child(3){
										font-size:13px;
										font-weight:400;
										text-align:left;
										margin-top: 16px;
									}
								}
							}
						}
					}
					#slidebox2{
						position:relative;
						overflow:hidden;
						width:300px;
						height:400px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-khtml-border-radius: 5px;
						border-radius: 5px;
						.next2{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							right:0;
							margin-right:16px;
							background:url(../img/next.png) no-repeat left top;
						}
						.previous2{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							margin-left:18px;
							background:url(../img/prev.png) no-repeat left top;
						}
						ul{
							width:100%;
							height:400px;
							li{
								width:100%;
								height:100%;
								position:relative;
								left:0;
								float:left;
								list-style: none;
								padding:0px;
								font-family:Verdana, Geneva, sans-serif;
								font-size:13px;
								div{
									position:absolute;
									font-family:Verdana, Geneva, sans-serif;
									color:#fff;
									z-index:9999;
									bottom:0;
									padding:0px 13px 18px 17px;
									a{
										font-size:11px;
										-moz-border-radius: 20px;
										-webkit-border-radius: 20px;
										-khtml-border-radius: 20px;
										border-radius: 20px;
										text-decoration:none;
										color:#fff;
										font-weight:400;
										background-color: #FF4E50;
										cursor: pointer;
										max-width:100%;
										padding:5px 18px 5px 18px;
										text-align:center;
									}
									p:nth-child(2){
										font-size:21px;
										font-weight:600;
										max-width:200px;
										text-align:left;
										line-height: 25px;
										margin-top: 16px;
									}
									p:nth-child(3){
										font-size:13px;
										font-weight:400;
										text-align:left;
										margin-top: 13px;
									}
								}
								img{
									
								}
							}
						}
					}
					#slidebox3{
						position:relative;
						overflow:hidden;
						width:300px;
						height:400px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-khtml-border-radius: 5px;
						border-radius: 5px;
						.next3{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							right:0;
							margin-right:16px;
							background:url(../img/next.png) no-repeat left top;
						}
						.previous3{
							position:absolute;
							z-index:9999;
							width:35px;
							height:60px;
							top:38%;
							cursor:pointer;
							margin-left:18px;
							background:url(../img/prev.png) no-repeat left top;
						}
						ul{
							width:100%;
							height:400px;
							li{
								width:100%;
								height:100%;
								position:relative;
								left:0;
								float:left;
								list-style: none;
								padding:0px;
								font-family:Verdana, Geneva, sans-serif;
								font-size:13px;
								div{
									position:absolute;
									font-family:Verdana, Geneva, sans-serif;
									font-size:23px;
									color:#fff;
									z-index:9999;
									bottom:0;
									padding:0px 13px 18px 17px;
									a{
										font-size:11px;
										-moz-border-radius: 20px;
										-webkit-border-radius: 20px;
										-khtml-border-radius: 20px;
										border-radius: 20px;
										text-decoration:none;
										color:#fff;
										font-weight:400;
										background-color: #FF4E50;
										cursor: pointer;
										max-width:100%;
										padding:5px 18px 5px 18px;
										text-align:center;
									}
									p:nth-child(2){
										font-size:21px;
										font-weight:600;
										max-width:200px;
										text-align:left;
										line-height: 25px;
										margin-top: 18px;
									}
									p:nth-child(3){
										font-size:13px;
										font-weight:400;
										text-align:left;
										margin-top: 18px;
									}
								}
							}
						}
					}
				}
				.slide:nth-child(2){
					padding-left:9px;
					padding-right:9px;
				}
			}
		}
		.mozaic{
			max-width:960px;
			margin:4px auto;
			padding-left:7px;
			p{
				font-size:22px;
				font-weight:700;
				text-align:center;
				letter-spacing:0.5px;
				margin-bottom:12px;
			}
			#container{
				.item{
					max-width: 300px;
					height: 310px;
					margin-top:20px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
					overflow:hidden;
					position:relative;
					float: left;
					p{
						margin: 47% auto;
						width:100%;
						font-size:22px;
						color:#fff;
						font-weight:500;
						position:absolute;
						a{
							text-decoration:none;
							color:#fff;
						}
						a:hover{
							color:#F00000;
						}
					}
				}
				.item:nth-child(2){
					max-width: 300px;
					height: 310px;
					margin-top:20px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
					overflow:hidden;
					position:relative;
					float: left;
					margin-left:20px;
					margin-right:20px;
					p{
						margin: 47% auto;
						width:100%;
						font-size:22px;
						color:#fff;
						font-weight:500;
						position:absolute;
					}
				}
				.item:nth-child(5){
					max-width: 620px;
					height: 310px;
					margin-top:20px;
					margin-left:20px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
					overflow:hidden;
					p{
						margin: 23% auto;
						font-size:22px;
						color:#fff;
						font-weight:500;
						position:absolute;
					}
				}
				.item:nth-child(6){
					max-width: 620px;
					height: 310px;
					margin-top:20px;
					margin-right:20px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					-khtml-border-radius: 5px;
					border-radius: 5px;
					overflow:hidden;
					p{
						margin: 23% auto;
						font-size:22px;
						color:#fff;
						font-weight:500;
						position:absolute;
					}
				}
			}
		}
		.search{
			max-width: 960px;
			position:relative;
			margin:18px auto;
			padding-top:80px;
			padding-bottom:45px;
			form{
				max-width: 420px;
				margin: 37px auto;
				.input_search{
					padding-top:0px;
					padding-right:0px;
					background-color: #fff;
					float: left;
					margin-right:10px;
					.search_inn{
						width: 228px;
						padding:11px 0px 11px 10px;
						font: 14px sans-serif;
						list-style:none;
						border:1px solid #CCCCCC;
						background-color: #fff;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
						-khtml-border-radius: 4px;
						border-radius: 4px;
					}
					.search_inn::-moz-placeholder {
						color: #626466;
					}
					.search_inn::-webkit-input-placeholder {
						color: #626466;
					}
					.search_inn:-moz-placeholder {
						color: #626466;
					}
					.search_inn:-ms-input-placeholder {
						color: #626466;
					}
					.search_inn:focus::-webkit-input-placeholder{
						color: transparent;
					}
					.search_inn:focus::-moz-placeholder{
						color: transparent;
					}
					.search_inn:focus:-moz-placeholder{
						color: transparent;
					}
					.search_inn:focus:-ms-input-placeholder{
						color: transparent;
					}
				}
				.button_block{
					float:left;
					button{
						max-width: 100%;
						max-height: 40px;
						cursor:pointer;
						padding:12px 25px 14px 25px;
						font-size:14px;
						-moz-border-radius: 19px;
						-webkit-border-radius: 19px;
						-khtml-border-radius: 19px;
						border-radius: 19px;
						border:none;
						color:#fff;
						font-weight:600;
						background-color: #FF4E50;
					}
					button:hover{
						background-color: #C02D12;
						color:#7E7E87;
					}
				}
			}
			p:nth-child(1){
				font-size:22px;
				font-weight:700;
				text-align:center;
				letter-spacing:0.7px;
			}
			p:nth-child(2){
				font-size:18px;
				font-weight:200;
				text-align:center;
				color:#5D5D5D;
				margin-top:32px;
			}
		}
	}
	footer{
		margin:0 auto;
		max-width:1440px;
		padding: 33px 0px 40px 25px;
		border-top:5px solid #FF4E50;
		.wrap_foot{
			max-width: 960px;
			margin:0 auto;
			display:flex;
			align-items:stretch;
			flex-wrap:wrap;
			p{
				width:25%;
				font-family: 'Myriad Pro', sans-serif;
				font-size: 16px;
				font-weight:600;
				color:#FF4E50;
				line-height:23px;
				letter-spacing:0.5px;
			}
			.company_foot{
				width:17%;
				height:100%;
				ul{
					list-style-type:none;
					li{
						font-size: 14px;
						font-weight:400;
						line-height:25px;
						a{
							font-size: 14px;
							font-weight:400;
							color:#000;
							text-decoration:none;
						}
						a:hover{
							color:#0015B2;
						}
					}
					li:nth-child(1){
						font-weight:600;
					}
				}
			}
			p:nth-child(3){
				width:20%;
				height:100%;
				font-size: 14px;
				font-weight:600;
				line-height:20px;
				color:#000;
			}
			.logo_foot{
				width:37%;
				height:100%;
				.wrap_logo_foot{
					width:120px;
					height:50px;
					float:right;
					.logo_foot_icon{
						float:left;
						height:100%;
						width:27px;
						img{
							margin-top:22px;
						}
					}
					.logo_text_foot{
						width:85px;
						float:right;
						p:nth-child(1){
							font-size:9px;
							font-weight:800;
							text-align:center;
							line-height:20px;
							color:#CCCCCC;
							width:100%;
						}
						p:nth-child(2){
							font-size:18px;
							font-weight:500;
							text-align:center;
							color:#FF4E50;
							letter-spacing:2px;
							width:100%;
						}
						p:nth-child(3){
							font-size:7px;
							font-weight:900;
							text-align:center;
							color:#FF4E50;
							letter-spacing:1.5px;
							line-height:5px;
							width:100%;
						}
					}
				}
			}
		}
	}
	.users{
		max-width:960px;
		margin:0 auto;
		padding-top: 0px;
		padding-bottom: 55px;
		p{
			font-size:22px;
			font-weight:700;
			text-align:center;
			letter-spacing:0.7px;
		}
		.wrap_users{
			margin:0 auto;
			margin-top:30px;
			width:100%;
			display:inline-flex;
			justify-content:space-around;
			flex-wrap:wrap;
			.user{
				width:230px;
				.wrap_foto_user{
					width:126px;
					height:126px;
					position:relative;
					margin:0 auto;
					.foto_user{
						width:122px;
						height:122px;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						-khtml-border-radius: 50%;
						border-radius: 50%;
					}
					.user_mark{
						width:40px;
						height:40px;
						position:absolute;
						bottom:0;
						right:0;
					}
				}
				.wrap_user_text{
					width:220px;
					bottom:0;
					.user_title{
						width:220px;
						height:20px;
						margin-top:13px;
						p{
							font-size:15px;
							font-weight:700;
						}
					}
					.user_article{
						width:220px;
						margin-top:13px;
						
						p{
							margin-top:-2px;
							font-size:13px;
							font-weight:400;
							letter-spacing:0.3px;
						}
					}
				}

			}

		}
		.subm_more{
			margin:40px auto;
			font-size:14px;
			padding:10px 31px 16px 31px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			border-radius: 20px;
			text-decoration:none;
			color:#FF4E50;
			background-color:#fff;
			font-weight:600;
			cursor: pointer;
			display:block;
			max-width:100%;
			max-height:40px;
			border:2px solid #FF4E50;
		}
		.subm_more:hover{
			color:#181818;
			border:2px solid #181818;
		}
	}
}

	.js .login-form span{
		color: #686868;
		width: 170px;
		-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
		-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
		box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
		background: #989898;
		background: -moz-linear-gradient(top,  #ffffff 0%, #989898 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#989898));
		background: -webkit-linear-gradient(top,  #ffffff 0%,#989898 100%);
		background: -o-linear-gradient(top,  #ffffff 0%,#989898 100%);
		background: -ms-linear-gradient(top,  #ffffff 0%,#989898 100%);
		background: linear-gradient(top,  #ffffff 0%,#989898 100%);
	}
	.js .login-form span.checked:before {
		background: #a5cd4e;
		background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
		background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
		background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
		background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
		background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	}
	.js .login-form input[type=checkbox] {
		position: fixed;
		left: -9999px;
	}
	.js .login-form span {
		width: 16px;
		height: 16px;
		cursor: pointer;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.js .login-form span.checked:before {
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
		-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
		box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
	}
	
	.modal{
		width:100%;
		height:100%;
		top:0;
		background-color: rgba(0,0,0, 0.5);
		z-index:5;
		position:fixed;
		cursor:pointer;
		display:none;
	}
		.sign_up{
			z-index:10;
			width: 500px;
			top: 8%;
			left: 33%;
			padding-top: 20px;
			padding-bottom: 20px;
			position: fixed;
			background: rgba(5, 5, 5, 0.6);
			form{
				width: 100%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 20px;
					padding-bottom: 20px;
					span{
						font-size: 11px;
						color: #828282;
					}
				}
				.bord3{
					width: 23%;
					height: 1px;
					margin: 10px 2px 4px 0;
					display: inline-block;
					background-color: #828282;
				}
				.bord4{
					margin: 10px 0 4px 2px;
					width: 23%;
					height: 1px;
					display: inline-block;
					background-color: #828282;
				}
				p{
					font-size: 24px;
					color: #fff;
					padding-bottom: 20px;
					border-bottom: 2px solid #B5B5B5;
				}
				.facebook{
					width: 50%;
					margin: 25px auto 0 auto;
						a{
							width: 79%;
							margin-left: 17%;	
							padding: 10px 6px 9px 3px;
							font-size: 14px;
							font-weight: 700;
							color: #fff;
							text-decoration: none;
							display: block;
							border-left: 1px solid #3B5698;	
							background: url(../img/grad2.png) repeat-x;
							-moz-border-radius: 0px 4px 4px 0px;
							-webkit-border-radius: 0px 4px 4px 0px;
							-khtml-border-radius: 0px 4px 4px 0px;
							border-radius: 0px 4px 4px 0px;
								span:nth-child(1){
									font-size: 15px;
									font-weight: 100;
									color: #fff;
								}
								span:nth-child(2){
									margin-left: 10px;
									font-size: 16px;
									font-weight: 600;
									color: #fff;	
									display: inline-block;
								}
					}
					a:hover{
						background: url(../img/grad.png) repeat-x;
					}
					.logo{
						width: 12.7%;
						padding: 7px 7px 4px 3px;
						float: left;
						background: url(../img/grad2.png) repeat-x;
						border-right: 1px solid #2E4176;
						-moz-border-radius: 4px 0px 0px 4px;
						-webkit-border-radius: 4px 0px 0px 4px;
						-khtml-border-radius: 4px 0px 0px 4px;
						border-radius: 4px 0px 0px 4px;
					}
				}
				.input_text{
					list-style:none;
					input{
						width: 47%;
						padding: 8px 4px 8px 15px;
						font-size: 14px;
						color: #fff;
						list-style: none;
						border: none;
						border-bottom: 1px solid #9C9C9C;
						background: rgba(5, 5, 5, 0.9);
						margin-bottom: 15px;
					}
					input:hover{
						border-bottom: 1px solid rgba(75,132,173,1);
						background-color: #1B5288;
						-webkit-box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
						-moz-box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
						box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
					}
					input:focus{
						border-bottom: 1px solid rgba(75,132,173,1);
						background-color: #1B5288;
						-webkit-box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
						-moz-box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
						box-shadow: 0px 0px 4px 2px rgba(75,132,173,1);
					}
					input::-moz-placeholder {
						color: #fff;
					}
					input::-webkit-input-placeholder {
						color: #fff;
					}
					input:-moz-placeholder {
						color: #fff;
					}
					input:-ms-input-placeholder {
						color: #fff;
					}
					input:focus::-webkit-input-placeholder{
						color: transparent;
					}
					input:focus::-moz-placeholder{
						color: transparent;
					}
					input:focus:-moz-placeholder{
						color: transparent;
					}
					input:focus:-ms-input-placeholder{
						color: transparent;
					}
				}
				.check{
					width: 100%;
					padding-top: 5px;
					padding-bottom: 25px;
					.checker{
						width: 55%;
						margin: 0 auto;
						input{
							margin-left: 14px;
							float: left;	
							display: block;
							-ms-transform: scale(1.2);
							-moz-transform: scale(1.2);
							-webkit-transform: scale(1.2);
							-o-transform: scale(1.2);
						}
						label{
							padding-top: 3px;
							font-size: 14px;
							color: #fff;
							float: left;
							display: block;
							margin-left: 7px;
						}
					}
				}
				.subm{
					width: 150px;
					margin: 0 auto;	
					padding: 12px 4px 12px 4px;
					font-size: 15px;
					color: #fff;
					border: 1px solid #2E7AC4;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
						-khtml-border-radius: 4px;
						border-radius: 4px;	
					background: url(../img/grad.png) repeat-x;
					cursor: pointer;
				}
				.subm:hover{
					background: url(../img/grad2.png) repeat-x;
				}
			}
		}
		
}








	@media (min-width: 976px) and (max-width: 1000px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						width:50%;
						padding-top:35px;
						float:right;
						position:relative;
						.login-form{
							margin-left: 120px;
						}
					}
				}
			}
			article{
				.mozaic{
					max-width:750px;
					margin:0 auto;
					padding-left:0px;
					#container{
						margin:0 auto;
						.item{
							width: 235px;
							margin-top:0px;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:0px;
							margin-left:20px;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:0px;
							margin-right:20px;
						}
						.item:nth-child(5){
							width: 490px;
							margin-top:20px;
							margin-left:0px;
						}
						.item:nth-child(6){
							width: 490px;
							margin-top:20px;
							margin-right:0px;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:20px;
						}
					}
				}
				.users{
					.wrap_users{
						width:70%;
						margin-left:15%;
						.user{
							width:200px;
							padding-bottom:60px;
						}
					}
				}
			}
		}
	}
	}

	
	@media (min-width: 769px) and (max-width: 975px){
	body{
		.wrapper{
			header{
				.top_block{
					.left_top_block{
						p{
							margin-left:55px;
						}
					}
					.right_top_block{
						.wrap_btn{
							margin-right:25px;
						}
						.login-form{
							margin-left: 80px;
						}
					}
				}
			}
			article{
				padding-left:0px;
				.wrap_center_article{
					.title_center_article{
						.slide{
							#slidebox{
								max-width:235px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:235px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:235px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					max-width:750px;
					margin:0 auto;
					padding-left:0px;
					#container{
					margin:0 auto;
						.item{
							width: 235px;
							margin-top:0px;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:0px;
							margin-left:20px;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:0px;
							margin-right:20px;
						}
						.item:nth-child(5){
							width: 490px;
							margin-top:20px;
							margin-left:0px;
						}
						.item:nth-child(6){
							width: 490px;
							margin-top:20px;
							margin-right:0px;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:20px;
						}
					}
				}
				.users{
					.wrap_users{
						width:70%;
						margin-left:15%;
						.user{
							width:200px;
							padding-bottom:60px;
						}
					}
				}
			}
		}
		.sign_up{
			top: 8%;
			left: 20%;
		}
	}
	}

	
	
	@media (min-width: 900px) and (max-width: 955px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: 75px;
						}
					}
				}
			}
	}
	}
	}
	

	
	
	
	
	@media (min-width: 850px) and (max-width: 899px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: 40px;
						}
					}
				}
			}
	}
	}
	}
	
	

	
	@media (min-width: 800px) and (max-width: 849px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: 25px;
						}
					}
				}
			}
	}
	}
	}
	
	
	
	@media (min-width: 769px) and (max-width: 799px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: 0px;
						}
					}
				}
			}
	}
	}
	}
	
	

	@media (max-width: 768px){
	body{
		.wrapper{
			header{
				background: url(../img/fon.png) no-repeat;
				background-size: 100% 100%;
				background-size: cover;
				max-width:768px;
				.top_block{
					max-width:750px;
					.left_top_block{
						p{
							margin-left:35px;
						}
					}
					.right_top_block{
						.wrap_btn{
							margin-right:45px;
						}
						.login-form{
							margin-left: -40px;
						}
					}
				}
				.title_page{
					padding-left:0px;
				}
			}
			article{
				padding-left:0px;
				.wrap_center_article{
					max-width:750px;
					margin:95px auto;
					.title_center_article{
						.slide{
							#slidebox{
								max-width:235px;
								.next{
									top:10%;
									margin-right:22px;
								}
								.previous{
									top:10%;
									margin-left:10px;
								}
								ul{
									width:100%;
									li{
										div{
											padding:0px 13px 18px 15px;
										}
									}
								}
							}
							#slidebox2{
								max-width:235px;
								.next2{
									top:10%;
									margin-right:8px;
								}
								.previous2{
									top:10%;
									margin-left:7px;
								}
								ul{
									li{
										div{
											padding:0px 10px 18px 14px;
										}
									}
									width:100%;
								}
							}
							#slidebox3{
								max-width:235px;
								.next3{
									top:10%;
									margin-right:11px;
								}
								.previous3{
									top:10%;
									margin-left:23px;
								}
								ul{
									width:100%;
									li{
										div{
											padding:0px 10px 18px 18px;
										}
									}
								}
							}
						}
					}
				}
				.mozaic{
					max-width:768px;
					margin:0 auto;
					padding-left:0px;
					#container{
						margin-top:35px;
						.item{
							width: 235px;
							margin-top:0px;
							p{
								margin: 53% auto;
							}
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:0px;
							margin-left:20px;
							margin-right:20px;
							p{
								margin: 53% auto;
							}
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:0px;
							margin-right:20px;
							p{
								margin: 53% auto;
							}
						}
						.item:nth-child(5){
							width: 490px;
							margin-top:20px;
							margin-left:0px;
							p{
								margin: 28% auto;
							}
						}
						.item:nth-child(6){
							width: 490px;
							margin-top:20px;
							margin-right:0px;
							p{
								margin: 28% auto;
							}
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:20px;
							p{
								margin: 53% auto;
							}
						}
					}
				}
				.users{
					max-width:768px;
					.wrap_users{
						width:70%;
						margin-left:15%;
						.user{
							width:230px;
							padding-bottom:60px;
						}
						.user:nth-child(3){
							padding-bottom:0px;
						}
						.user:nth-child(4){
							padding-bottom:0px;
						}
					}
				}
				.search{
					margin:15px auto;
					padding-bottom:47px;
				}
				}
				footer{
					.wrap_foot{
						margin:0 auto;
						p{
							width:31%;
						}
						.company_foot{
							width:24%;
						}
						.logo_foot{
							width:21%;
						}
					}
				}
			}
			.sign_up{
				top: 8%;
				left: 20%;
			}
		}
	}
	
	
	
	
	
	
	@media (min-width: 700px) and (max-width: 767px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -48px;
						}
					}
				}
			}
	}
	}
	}
	

	@media (min-width: 650px) and (max-width: 699px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -80px;
						}
					}
				}
			}
	}
	}
	}


	@media (min-width: 625px) and (max-width: 649px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -80px;
						}
					}
				}
			}
	}
	}
	}
	
	
	@media (min-width: 560px) and (max-width: 624px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -115px;
						}
					}
				}
			}
	}
	}
	}
	
	

	@media (min-width: 635px) and (max-width: 767px){
	body{
		.wrapper{
			article{
				.wrap_center_article{
					.title_center_article{
						.slide{
							#slidebox{
								max-width:180px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:180px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:180px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					#container{
						.item{
							width: 235px;
							margin-top:0px;
							margin-left:17%;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:0px;
							margin-left:20px;
							margin-right:20px;
						}
						.item:nth-child(3){
							width: 235px;
							margin-top:20px;
							margin-left:17%;;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:0px;
							margin-right:20px;
						}
						.item:nth-child(5){
							width: 490px;
							margin-top:20px;
							margin-left:17%;;
						}
						.item:nth-child(6){
							width: 490px;
							margin-top:20px;
							margin-right:0px;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:34%;;
						}
					}
				}
			}
		}
		.sign_up{
			width: 462px;
			top: 8%;
			left: 20%;
			form{
				width: 100%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 55%;
				}
				.input_text{
					list-style:none;
					input{
						width: 52%;
					}

				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}
	

	@media (min-width: 600px) and (max-width: 634px){
	body{
		.wrapper{
			article{
				.wrap_center_article{
					.title_center_article{
						.slide{
							#slidebox{
								max-width:180px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:180px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:180px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					#container{
						.item{
							width: 235px;
							margin-top:0px;
							margin-left:31%;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:20px;
							margin-left:31%;
							margin-right:0px;
						}
						.item:nth-child(3){
							width: 235px;
							margin-top:20px;
							margin-left:31%;;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:31%;
							margin-right:0px;
						}
						.item:nth-child(5){
							width: 490px;
							margin-top:20px;
							margin-left:10%;;
						}
						.item:nth-child(6){
							width: 490px;
							margin-top:20px;
							margin-right:0px;
							margin-left:10%;;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:31%;;
						}
					}
				}
			}
		}
		.sign_up{
			width: 462px;
			top: 8%;
			left: 10%;
			form{
				width: 100%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 55%;
				}
				.input_text{
					list-style:none;
					input{
						width: 52%;
					}
				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}
	
	
	@media (min-width: 460px) and (max-width: 599px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -135px;
						}
						.login-form:before{
							display:none;
						}
					}
				}
				.title_page{
					a{
						max-width:40%;
					}
				}
			}
			article{
				.wrap_center_article{
					.title_center_article{
						.slide{
							#slidebox{
								max-width:140px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:140px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:140px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					#container{
						.item{
							width: 235px;
							margin-top:0px;
							margin-left:31%;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:20px;
							margin-left:31%;
							margin-right:0px;
						}
						.item:nth-child(3){
							width: 235px;
							margin-top:20px;
							margin-left:31%;;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:31%;
							margin-right:0px;
						}
						.item:nth-child(5){
							width: 400px;
							margin-top:20px;
							margin-left:5%;;
						}
						.item:nth-child(6){
							width: 400px;
							margin-top:20px;
							margin-right:0px;
							margin-left:5%;;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:31%;;
						}
					}
				}
			}
			footer{
				.wrap_foot{
					margin:0 auto;
					display:block;
					p{
						width:49%;
						margin:0 auto;
					}
				}
			}
			
		}
		.sign_up{
			width: 362px;
			top: 8%;
			left: 18%;
			form{
				width: 100%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 70%;
				}
				.input_text{
					list-style:none;
					input{
						width: 65%;
					}

				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}
	

	@media (min-width: 430px) and (max-width: 459px){
	body{
		.wrapper{
			header{
				.top_block{
					.right_top_block{
						.login-form{
							margin-left: -115px;
						}
						.login-form:before{
							display:none;
						}
					}
				}
				.title_page{
					a{
						max-width:45%;
					}
				}
			}
			article{
				.wrap_center_article{
					.title_center_article{
						.slide{
							#slidebox{
								max-width:120px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:120px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:120px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					#container{
						.item{
							width: 235px;
							margin-top:0px;
							margin-left:23%;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:20px;
							margin-left:23%;
							margin-right:0px;
						}
						.item:nth-child(3){
							width: 235px;
							margin-top:20px;
							margin-left:23%;;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:23%;
							margin-right:0px;
						}
						.item:nth-child(5){
							width: 390px;
							margin-top:20px;
							margin-left:5%;;
						}
						.item:nth-child(6){
							width: 390px;
							margin-top:20px;
							margin-right:0px;
							margin-left:5%;;
						}
						.item:nth-child(7){
							margin-top:20px;
							margin-right:0px;
							margin-left:23%;;
						}
					}
				}
			}
			footer{
				.wrap_foot{
					margin:0 auto;
					display:block;
					p{
						width:49%;
						margin:0 auto;
					}
				}
			}
		}
		.sign_up{
			width: 362px;
			top: 8%;
			left: 6%;
			form{
				width: 100%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 70%;
				}
				.input_text{
					list-style:none;
					input{
						width: 65%;
					}

				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}
	
	
	@media (min-width: 321px) and (max-width: 429px){
	body{
		.wrapper{	
			header{
				.title_page{
					a{
						max-width:60%;
					}
				}
				.top_block{
					position:relative;
					.left_top_block{
						width:100%;
						float:none;
						position:absolute;
						margin-top:120px;
						p{
							margin:0px;
							text-align:center;
						}
					}
					.right_top_block{
						float:none;
						width:100%;
						position:absolute;
						.wrap_btn{
							float:none;
							margin:0 auto;
							text-align:center;
							#sign_inn{
								float:none;
								margin:0;
							}
							#sign_up_btn{
								float:none;
							}
						}
						.login-form{
							margin-left: 55px;
						}
						.login-form:before{
							display:none;
						}
					}
				}
				.title_page{
					margin-top:90px;
					padding-left:0px;
					padding-bottom:30px;
					p{
						font-size:27px;
					}
					p:nth-child(2){
						font-size:27px;
						line-height:40px;
					}
					p:nth-child(3){
						margin-top:20px;
						line-height:23px;
						font-size:18px;
						letter-spacing:0px;
						padding-left:30px;
						padding-right:40px;
					}
					a{
						margin:45px auto;
						padding:12px 25px 12px 25px;
					}
				}
			}
			article{
				.wrap_center_article{
					.title_center_article{
						justify-content:center;
						.slide{
							#slidebox{
								max-width:300px;
								height:240px;
								margin-top:10px;
								ul{
									width:100%;
								}
							}
							#slidebox2{
								max-width:300px;
								height:240px;
								margin-top:10px;
								ul{
									width:100%;
								}
							}
							#slidebox3{
								max-width:300px;
								height:240px;
								margin-top:10px;
								ul{
									width:100%;
								}
							}
						}
					}
				}
				.mozaic{
					#container{
						.item{
							width: 235px;
							margin-top:0px;
							margin-left:11%;
						}
						.item:nth-child(2){
							width: 235px;
							margin-top:20px;
							margin-left:11%;
							margin-right:0px;
						}
						.item:nth-child(3){
							width: 235px;
							margin-top:20px;
							margin-left:11%;;
							margin-right:20px;
						}
						.item:nth-child(4){
							width: 235px;
							margin-top:20px;
							margin-left:11%;
							margin-right:0px;
						}
						.item:nth-child(5){
							width: 235px;
							margin-top:20px;
							margin-left:11%;;
						}
						.item:nth-child(6){
							width: 235px;
							margin-top:20px;
							margin-right:0px;
							margin-left:11%;;
						}
						.item:nth-child(7){
							width: 235px;
							margin-top:20px;
							margin-right:0px;
							margin-left:11%;;
						}
					}
				}
				.search{
					form{
					width:74%;
						.input_search{
							float: none;
							padding-left:0;
							margin:0 auto;
							max-width: 170px;
							float:none;
							.search_inn{
								width: 100%;
								margin:0;
							}
						}
						.button_block{
							float:none;
							text-align:center;
							padding-top:10px;
							button{
								max-width: 100%;
								width: 270px;
							}
						}
					}
					p:nth-child(1){
						font-size:22px;
						font-weight:700;
						text-align:center;
						letter-spacing:0.7px;
					}
					p:nth-child(2){
						margin-top:10px;
					}
				}
			}
			footer{
				.wrap_foot{
					margin:0 auto;
					display:block;
					p{
						width:49%;
						margin:0 auto;
					}
				}
			}
		}
		.sign_up{
			width: 262px;
			top: 5%;
			left: 10%;
			form{
				width: 90%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 95%;
				}
				.input_text{
					list-style:none;
					input{
						width: 88%;
					}
				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}
	

	@media (max-width: 320px){
	body{
		.wrapper{
			header{
				background: url(../img/fon.png) 50% 50% no-repeat;
				background-size: cover;
				max-width:320px;
				padding-bottom:58px;
				.top_block{
					position:relative;
					max-width:320px;
					.left_top_block{
						width:100%;
						float:none;
						position:absolute;
						margin-top:135px;
						p{
							margin:0;
							text-align:center;
						}
					}
					.right_top_block{
						float:none;
						width:100%;
						position:absolute;
						padding-top:20px;
						.wrap_btn{
						width:50%;
							float:none;
							margin:0 auto;
							text-align:center;
							#sign_inn{
								float:left;
								margin:0;
							}
							#sign_up_btn{
								float:right;
							}
						}
						.login-form{
							margin-left: 25px;
						}
						.login-form:before{
							display:none;
						}
					}
				}
				.title_page{
					margin-top:105px;
					padding-left:0px;
					padding-bottom:68px;
					p:nth-child(1){
						font-size:27px;
					}
					p:nth-child(2){
						font-size:27px;
						line-height:40px;
					}
					p:nth-child(3){
						margin-top:5px;
						line-height:23px;
						font-size:18px;
						letter-spacing:0px;
						padding-left:30px;
						padding-right:40px;
					}
					a{
						margin:12px auto;
						padding:12px 25px 12px 25px;
						max-width:75%;
					}
				}
			}
			article{
				max-width:320px;
				padding-left:0px;
				.wrap_center_article{
					max-width:320px;
					margin:35px auto;
					.title_center_article{
						padding-top:15px;
						justify-content:center;
						.slide{
							padding:0;
							#slidebox{
								max-width:300px;
								max-height:240px;
								margin:0;
								ul{
									width:300px;
									max-height:240px;
								}
							}
							#slidebox2{
								max-width:300px;
								max-height:240px;
								margin:0;
								margin-top:10px;
								margin-bottom:10px;
								ul{
									width:300px;
									max-height:240px;
								}
							}
							#slidebox3{
								max-width:300px;
								max-height:240px;
								margin:0;
								ul{
									width:300px;
									max-height:240px;
								}
							}
						}
					}
				}
				.mozaic{
					max-width:320px;
					margin:3px auto;
					padding-left:0px;
					#container{
					margin-top:15px;
						.item:nth-child(1){
							width: 300px;
							height:120px;
							margin:0px;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(2){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(3){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(4){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(5){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(6){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
						.item:nth-child(7){
							width: 300px;
							height:120px;
							margin:10px 0 0 0;
							p{
								margin: 15% auto;
							}
						}
					}
				}
			.users{
				max-width:320px;
				padding-bottom: 30px;
				.wrap_users{
					width:100%;
					margin-top:10px;
					margin-left:0;
					.user{
						width:200px;
						padding-bottom:20px;
					}
						.user:nth-child(1){
							padding-top:2px;
							padding-bottom:28px;
						}
						.user:nth-child(2){
							padding-bottom:65px;
						}
						.user:nth-child(3){
							padding-bottom:0px;
						}
						.user:nth-child(4){
							padding-bottom:28px;
						}
				}
				.subm_more{
					margin:0 auto;
					padding:10px 70px 16px 70px;
					max-width:100%;
				}
			}
			.search{
				max-width: 320px;
				padding-top:34px;
				padding-bottom:23px;
				margin:0 auto;
				form{
					max-width: 320px;
					margin: 17px auto;
					.input_search{
						float: none;
						padding-left:0;					
						margin:0;
						width: 270px;
						margin-left:3%;
						.search_inn{
							width: 100%;
						}
					}
					.button_block{
						float:none;
						text-align:center;
						padding-top:10px;
						button{
							max-width: 100%;
							width: 270px;
						}
					}
				}
				p:nth-child(1){
					font-size:22px;
					font-weight:700;
					text-align:center;
					letter-spacing:0.7px;
				}
				p:nth-child(2){
					margin-top:10px;
				}
			}
			}
			footer{
				max-width:320px;
				padding: 13px 0px 20px 0;
				border-top:5px solid #FF4E50;
				.wrap_foot{
					max-width: 320px;
					margin:0 auto;
					display:block;
					p{
						width:49%;
						margin:0 auto;
					}
					.company_foot{
						width:70%;
						height:100%;
						margin:0 auto;
						ul{
							text-align:center;
							padding-top:4px;
							li{
								line-height:25px;
								display:inline-block;
								a{
									font-size: 14px;
									font-weight:400;
									color:#000;
									text-decoration:none;
								}
								a:hover{
									color:#0015B2;
								}
							}
							li:nth-child(1){
								font-weight:600;
								display:block;
							}
							li:nth-child(3){
								margin-left:10px;
								margin-right:5px;
							}
							li:nth-child(4){
								margin-left:5px;
								margin-right:10px;
							}
						}
					}
					p:nth-child(3){
						line-height:35px;
						color:#000;
					}
					.logo_foot{
						width:37%;
						height:100%;
						margin:0 auto;
						.wrap_logo_foot{
							width:110px;
							height:50px;
							float:right;
							position:relative;
							.logo_foot_icon{
								float:left;
								height:55%;
								width:25px;
								margin-top:22px;
								position:absolute;
								img{
									margin-top:0;
								}
							}
							.logo_text_foot{
								width:85px;
								float:left;
								position:relative;
								p:nth-child(1){
									font-size:9px;
									font-weight:800;
									text-align:center;
									line-height:20px;
									color:#CCCCCC;
									position:absolute;
									margin-left:8px;
								}
								p:nth-child(2){
									font-size:18px;
									font-weight:500;
									text-align:center;
									color:#FF4E50;
									letter-spacing:2px;
									margin-top:20px;
									margin-left:35px;
								}
								p:nth-child(3){
									font-size:7px;
									font-weight:900;
									text-align:center;
									color:#FF4E50;
									letter-spacing:1.5px;
									line-height:5px;
									margin-left:32px;
								}
							}
						}
					}
				}
			}
		}
		.sign_up{
			width: 262px;
			top: 5%;
			left: 6%;
			form{
				width: 90%;
				margin: 0 auto;	
				text-align:center;
				.bord{
					padding-top: 10px;
					padding-bottom: 10px;
					span{
						display:none;
					}
				}
				.bord3{
					display: none;
				}
				.bord4{
					display: none;
				}
				p{
					padding-bottom: 5px;
				}
				.facebook{
					width: 95%;
				}
				.input_text{
					list-style:none;
					input{
						width: 75%;
					}

				}
				.check{
					padding-top: 0px;
					padding-bottom: 15px;
				}
				.subm{
					padding: 5px 4px 5px 4px;
				}
			}
		}
	}
	}