div, ul, li, p, body, img, select{
    margin: 0;
    padding: 0;
}
.clearfix:after{
	content: "";
    display: table;
    clear: both;
}
@font-face{
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*body*/
body{
	font-family: sans-serif;
	font-size: 0;
}
.block_wrap{
	width: 100%;
	margin: 0 auto;
}
/*top*/
.wrap-header{
	width: 100%;
	height: 560px;
	background: url(../img/top.png) no-repeat;
	background-size: 100% 100%;
}
header{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}
.logo-header{
	width: 30%;
	height: 40px;
	float: left;
	text-align: right;
	position: relative;
}
.logo-header p:nth-child(2){
	float: right;
	font-family: "LeagueGothicRegular";
	font-size: 34px;
	color: #fff;
	letter-spacing: -0.3px;
	text-shadow: 1px 1.2px 0 #696969;
}
.logo-header p:nth-child(1){
	margin-right: 3px;
	float: right;
	font-family: "LeagueGothicRegular";
	font-size: 34px;
	background: linear-gradient(#593668, #291A30);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*hack for latest opera*/
noindex:-o-prefocus,.logo-header p:nth-child(1){
	background: none;
	color: #593668;
}
nav{
	width: 70%;
	height: 40px;
	float: left;
	text-align: center;
}
.menu-top_menu{
	list-style: none;
}
.menu-top_menu li{
	display: inline-block;
}
.menu-top_menu li:nth-child(1),
.menu-top_menu li:nth-child(2),
.menu-top_menu li:nth-child(3),
.menu-top_menu li:nth-child(4),
.menu-top_menu li:nth-child(5){
	margin-right: 35px;
}
.menu-top_menu li a{
	font-family: "LeagueGothicRegular";
	font-size: 18px;
	color: #fff;
	line-height: 35px;
	text-decoration: none;
	text-shadow: 1px 1.2px 0 #696969;
	letter-spacing: -0.35px;
}
.menu-top_menu li a:hover{
	border-bottom: 2px solid #EEC4FF;
}
/*slider*/
.wrap-main_slide{
	width: 100%;
	position: relative;
}
.main_shad{
	width: 100%;
	height: 68%;
	max-height: 280px;
	margin: 2% auto;
	position: absolute;
	background: rgba(5, 5, 5, 0.3);
	z-index: 0;
}
/*hack for latest opera*/
noindex:-o-prefocus,.main_shad{
	margin: 8% auto;
}
.main_slide{
	width: 100%;
	max-width: 960px;
	height: 330px;
	margin: 6.2% auto;
	font-size: 12px;
}
article{
	height: 355px;
}
.info{
	width: 67%;
	height: 100%;
	padding-left: 17%;
	max-height: 285px;
	text-align: left;
	position:relative;
}
.capt{
	width: 30%;
	float: right;
	margin-top: 2%;
}
.capt img{
	width: 96%;
}
.active{
	width: 20%;
	height: 20px;
	margin-top: 2%;
	clear: both;
	padding-left: 70%;
}
.sprite{
	width: 13px;
	height: 12px;
	display: inline-block;
	cursor: pointer;
	background-image: url('../img/11.png');
	background-position: -10px 10px 0 0px;
}
.sprite:hover{
	width: 13px;
	height: 12px;
	background-image: url('../img/11.png');
	background-position: -17px 0px;
}
.prev-slider{
	display: block;
	width: 20px;
	height: 25px;
	margin: 155px 0 0 93%;
	cursor: pointer;
	position: absolute;
	background: url('../img/next.png') no-repeat;
}
noindex:-o-prefocus,.prev-slider{
	margin: 225px 0 0 93%;
}
.next-slider{
	display: block;
	width: 20px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	margin: -260px 0 0 11%;
	background: url('../img/prev.png') no-repeat;
}
.text{
	width: 50%;
	height: 100%;
	max-height: 168px;
	float: left;
	padding: 102px 0 0 13px;
	overflow: hidden;
	line-height: 20px;
	position: absolute;
}
.text > span{
	padding-top: 22px;
	line-height: 0;
	color: #fff;
	font-weight: 400;
	font-family: "LeagueGothicRegular";
	font-size: 40px;
	text-shadow: 1px 1px 1px #1C1C1C;
}
.text > a{
	display: block;
	text-decoration: none;
	padding-top: 12px;
	line-height: 0;
	color: #EFC6FF;
	font-family: "LeagueGothicRegular";
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -0.2px;
	text-shadow: 1px 1px 1px #1C1C1C;
}
noindex:-o-prefocus,.text > a{
	padding-top: 20px;
}
.text > a:hover{
	color: #EE6363;
}
.text p{
	margin-top:15px;
	width: 90%;
	line-height: 17px;
	font-size: 13px;
	font-family: "OpenSansLight";
	color: #fff;
	letter-spacing: -0.2px;
	text-shadow: 1px 1px 1px #1C1C1C;
}
/*ABOUT OUR COMPANY*/
.bottom_menu{
	width: 100%;
	height: 238px;
	background: #43304C;
    background: linear-gradient(to bottom, #735082, #33263A);
}
.wrap-bottom_menu{
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}
.one_grade-bottom_menu{
	width: 250px;
	height: 155px;
	margin-top: 4%;
	overflow: hidden;
}
.logo_sprt{
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 20px;
	margin-left: 33px;
	background-image: url('../img/keysprite.png');
	background-position: 0;
}
.logo_sprt:hover{
	background-image: url('../img/keysprite.png');
	background-position: -20px 0;
}
.logo_grade1 p{
	width: 70%;
	height: 35px;
	float: left;
	padding-top: 3px;
	padding-left: 21px;
	text-align: left;
	font-size: 22px;
	line-height: 44px;
	color: #fff;
	letter-spacing: -0.5px;
	font-family: "LeagueGothicRegular";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
.text_one{
	clear: both;
	width: 160px;
	height: 85px;
	margin-left: 50px;
	padding: 5px 20px 0 20px;
	color: #fff;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	overflow: hidden;
}
.one_grade-bottom_menu > p{
	height: 24px;
	padding-right: 11%;
	text-align: right;
	line-height: 38px;
}
.two_grade-bottom_menu{
	width: 250px;
	height: 155px;
	margin-top: 4%;
	overflow: hidden;
}
.logo_sprt2{
	float: left;
	width: 17px;
	height: 13px;
	margin-top: 23px;
	margin-left: 23px;
	background-image: url('../img/smssprite.png');
	background-position: 0;
}
.logo_sprt2:hover{
	background-image: url('../img/smssprite.png');
	background-position: -20px 0;
}
.logo_grade2 p{
	width: 70%;
	height: 35px;
	float: left;
	padding-top: 5px;
	padding-left: 20px;
	text-align: left;
	font-size: 22px;
	line-height: 43px;
	color: #fff;
	letter-spacing: -0.5px;
	font-family: "LeagueGothicRegular";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
.text_two{
	clear: both;
	width: 160px;
	height: 85px;
	margin-left: 50px;
	padding: 3px 20px 0 9px;
	color: #fff;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	overflow: hidden;
}
.two_grade-bottom_menu > p{
	height: 24px;
	padding-right: 15%;
	text-align: right;
	line-height: 37px;
}
.three_grade-bottom_menu{
	width: 310px;
	height: 155px;
	margin-top: 4%;
	overflow: hidden;
}
.logo_sprt3{
	width: 17px;
	height: 18px;
	float: left;
	margin-top: 20px;
	margin-left: 8px;
	background-image: url('../img/mussprite.png');
	background-position: 0;
}
.logo_sprt3:hover{
	background-image: url('../img/mussprite.png');
	background-position: -19px 0;
}
.logo_grade3 p{
	width: 70%;
	height: 35px;
	float: left;
	padding-top: 5px;
	padding-left: 19px;
	text-align: left;
	font-size: 22px;
	line-height: 43px;
	color: #fff;
	letter-spacing: -0.5px;
	font-family: "LeagueGothicRegular";
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
.text_three{
	clear: both;
	width: 160px;
	height: 85px;
	margin-left: 43px;
	padding: 2px 20px 0 0;
	color: #fff;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: -0.5px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	overflow: hidden;
}
.three_grade-bottom_menu > p{
	height: 24px;
	padding-right: 36%;
	text-align: right;
	line-height: 37px;
}
.one_grade-bottom_menu > p > a,.two_grade-bottom_menu > p > a,.three_grade-bottom_menu > p > a{
	text-decoration: none;
	font-family: "LeagueGothicRegular";
	font-size: 13px;
	color: #fff;
	text-shadow: 1.1px 1.1px 0 #000, -1.2px -1.2px 0 #000;
}
.one_grade-bottom_menu > p > a:hover,.two_grade-bottom_menu > p > a:hover,.three_grade-bottom_menu > p > a:hover{
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px rgba(255, 255, 255, 0.7);
}
/*news*/
.wrap-news{
	width: 100%;
	height: 342px;
	margin: 0 auto;
	background-color: #F9F9F9;
}
.news{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #F9F9F9;
	display: flex;
}
/*left side news*/
.left_news{
	width: 40%;
	max-width: 350px;
	height: 100%;
	min-height: 330px;
	margin-left: 16%;
	padding-left: 5px;
	position: relative;
	-webkit-flex: 1;
}
.capt2{
	width: 40px;
	height: 40px;
	margin-top: 80px;
	margin-left: 12px;
	position: absolute;
}
.capt2 img{
	width: 35px;
	height: 35px;
	margin-left: 5px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
}
.news_article{
	height: 275px;
}
#active2{
	width: 100%;
	height: 20px;
	float: left;
	padding-left: 10px;
	text-align: center;
}
.sprite2{
	width: 13px;
	height: 12px;
	margin-right: 2px;
	display: inline-block;
	cursor: pointer;
	background-image: url('../img/11.png');
	background-position: -10px 10px 0 0;
}
.sprite2:hover{
	width: 13px;
	height: 12px;
	background-image: url('../img/11.png');
	background-position: -17px 0;
}
.info2{
	width: 78%;
	height: 190px;
	float: left;
	margin-top: 20%;
	margin-left: 10%;
	padding-top: 0;
	padding-left: 27px;
	background-color: #fff;
	text-align: left;
	overflow: hidden;
	box-shadow: 0px 1px #EDEDED;
}
.corner{
	width: 1px;
	height: 1px;
	float: right;
	margin-right: 13%;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
}
.info2 > p{
	margin-top: 19px;
	margin-left: 0;
}
.info2 > p > span:nth-child(1){
	color: #000;
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	letter-spacing: 0.1px;
}
.info2 > p > span:nth-child(2){
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	letter-spacing: 0.1px;
	color: #EBBDFD;
}
.text2{
	margin-top: 4px;
	padding-right: 20px;
}
.text2 > a{
	text-decoration: none;
	line-height: 17px;
	font-size: 11px;
	font-family: "OpenSansLight";
	color: #000;
	letter-spacing: 0;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.text2 > a:hover{
	text-decoration:underline;
}
/*right side news*/
.right_news{
	width: 40%;
	max-width: 350px;
	height: 100%;
	max-height: 330px;
	position: relative;
	font-size: 11px;
	font-family: "OpenSansLight";
	overflow: hidden;
	background-color: #F9F9F9;
	-webkit-flex: 1;
}
.wrap_right{
	width: 90%;
	height: 53%;
	margin: 25% auto;
	padding-top: 2px;
	padding-left: 15px;
}
.wrap_right > p{
	margin-bottom: 10px;
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	letter-spacing: 0.35px;
}
.wrap_block{
	line-height: 30px;
}
.captur_block{
	float: left;
}
.captur_block img{
	width: 35px;
	height: 35px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
}
.text_block{
	width: 85%;
	height: 35px;
	float: left;
	padding-left: 12px;
	overflow: hidden;
}
.text_block p{
	font-weight: 900;
	letter-spacing: -0.1px;
	font-size: 11px;
	font-family: "Arial";
	line-height: 15px;
}
.text_block p span{
	display: block;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.butt_block{
	margin-top: 1%;
	margin-right: 5%;
}
.butt_block a{
	color: #000;
	font-family: "LeagueGothicRegular";
	font-size: 13px;
	letter-spacing: -0.2px;
	margin-bottom: 10px;
	text-decoration: none;
	font-weight: 500;
	float: right;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.butt_block a:hover{
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
}
/*block brands*/
.brands{
	width: 100%;
	height: 81px;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
}
.brands_centr{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 13px;
	display: flex;
	justify-content: center;
}
.brand1,.brand2,.brand3,.brand4{
	width: 50px;
	height: 46px;
}
.brand5{
	width: 80px;
	height: 46px;
}
.brand6{
	width: 59px;
	height: 46px;
}
.brand1 a,.brand2 a,.brand3 a,.brand4 a,.brand5 a,.brand6 a{
	display: block;
	margin: 0;
	margin: 0;
}
.brand1,.brand2,.brand3,.brand4,.brand5,.brand6{
	float: left;
	margin-left: 0;
	margin-right: 0;
}
.brand1{
	margin-left: 65px;
	margin-right: 43px;
}
.brand3{
	margin-left: 45px;
	margin-right: 40px;
}
.brand4{
	margin-right: 20px;
}
.brand5{
	margin-left: 16px;
}
.brand6{
	margin-left: 39px;
}
.brands a:hover{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
}
/*category*/
.wrap-category{
	width: 100%;
	height: 277px;
	background-color: #ECECEC;
}
.category{
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.category_left{
	width: 198px;
	overflow: hidden;
	padding-left: 93px;
}
.category_titl{
	width: 75%;
	font-size: 34px;
	padding-top: 65px;
	letter-spacing: -0.5px;
	font-family: "LeagueGothicRegular";
	color:#454545;
}
.category_titl > p > span:nth-child(2){
	color: #B9B9B9;
}
.category_copy{
	width: 75%;
	padding-top: 5px;
}
.category_copy p{
	color: #B9B9B9;
	font:italic 11px Georgia;
}
.category_text{
	width: 97%;
	height: 85px;
	padding-top: 6px;
	font-family: "OpenSansLight";
	letter-spacing: -0.4px;
	overflow: hidden;
	font-size: 12px;
}
.category_text a,.category_text1 a,.category_text2 a{
	text-decoration: none;
	color:#454545;
}
.category_text a:hover,.category_text1 a:hover,.category_text2 a:hover{
	text-decoration: underline;
}
.category_centr{
	width: 202px;
	padding-left: 38px;
	overflow: hidden;
}
.category_titl1{
	width: 80%;
	font-size: 20px;
	padding-top: 68px;
	color: #454545;
	font-family: "LeagueGothicRegular";
	letter-spacing: 0.2px;
}
.category_text1{
	width: 97%;
	height: 44%;
	padding-top: 3px;
	font-size: 12px;
	font-family: "OpenSansLight";
	letter-spacing: -0.35px;
	overflow: hidden;
	color: #454545;
}
.category_right{
	width: 225px;
	padding-left: 35px;
	overflow: hidden;
}
.category_titl2{
	width: 80%;
	padding-top: 68px;
	font-size: 20px;
	font-family: "LeagueGothicRegular";
	letter-spacing: 0.2px;
	color: #454545;
}
.category_text2{
	width: 80%;
	height: 44%;
	padding-top: 3px;
	font-size: 12px;
	font-family: "OpenSansLight";
	letter-spacing: -0.35px;
	overflow: hidden;
	color: #454545;
}
/*footer*/
.wrap-footer{
	width: 100%;
	background: url(../img/foot.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.6);	
}
footer{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
/*ned_menu*/
nav:nth-child(1){
	height: 100%;
	margin: 30px auto;
}
.menu-ned_menu{
	width: 63%;
	list-style: none;
	margin: 0 auto;
}
.menu-ned_menu li{
	display: inline-block;
	margin-left: 30px;
}
.menu-ned_menu .first_li-ned_menu{
	margin-left: 50px;
}
.menu-ned_menu li a{
	font-family: "LeagueGothicRegular";
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	line-height: 22px;
	text-decoration: none;
	text-shadow: 1px 1.2px 0 #363636;
}
.menu-ned_menu li a:hover{
	color: #9C9C9C;
}
footer p{
	height: 35px;
	float: right;
	margin-top: 24px;
	margin-right: 111px;
	font-size: 9px;
	color: #fff;
	line-height: 35px;
	font-family: "OpenSansLight";
	text-shadow: 1px 1.2px 1px #1C1C1C;
}
footer p span{
	font-weight: 900;
}


/*RESPONSIVE*/
/*resolution 768*/
@media (max-width: 768px){
header{
	max-width: 768px;
}
.wrap-header{
	height: 527px;
	background: url(../img/top.png) no-repeat;
	background-size: 100% 100%;
}
.logo-header{
	float: none;
}
nav{
	width: 89%;
	height: auto;
	float: none;
	padding-top: 10px;
}
noindex:-o-prefocus,nav{
	padding-left: 10px;
}
/*slider*/
.main_shad{
	height: 73%;
	margin: 0 auto;
}
noindex:-o-prefocus,.main_shad{
	margin-top: 6%;
}
.info{
	width: 65%;
	height: 100%;
	max-height: 285px;
	margin: 0 auto;
	padding-left: 0;
}
.capt{
	width: 40%;
	float: right;
	margin-top: -4%;
	padding-right: 7px;
}
.active{
	margin-top: -52px;
	padding-left: 64%;
}
.prev-slider{
	margin: 123px 0 0 82%;
}
noindex:-o-prefocus,.prev-slider{
	margin: 165px 0 0 82%;
}
.next-slider{
	margin: -255px 0 0 13%;
}
.text{
	width: 45%;
	height: 120px;
	padding: 78px 0 0 0;
	overflow: hidden;
}
.text > span{
	font-size: 32px;
}
.text > a{
	padding-top: 14px;
	white-space: nowrap;
	font-size: 18px;
	letter-spacing: -0.6px;
}
.text p{
	width: 100%;
}
/*ABOUT OUR COMPANY*/
.bottom_menu{
	width: 100%;
	max-width: 768px;
	height: 240px;
}
.wrap-bottom_menu{
	width: 100%;
}
.one_grade-bottom_menu{
	width: 224px;
	height: 165px;
	padding-left:86px;
}
.logo_sprt{
	margin-top: 23px;
	margin-left: 36px;
}
.logo_grade1 p{
	width: 60%;
	padding-top: 8px;
	padding-left: 17px;
	font-size: 16px;
	letter-spacing: 0.1px;
}
.text_one{
	width: 115px;
	height: 100px;
	padding: 0 0 0 20px;
}
.one_grade-bottom_menu > p{
	padding-right: 15%;
	line-height: 25px;
}
noindex:-o-prefocus,.one_grade-bottom_menu > p{
	padding-right: 10%;
}
.two_grade-bottom_menu{
	width: 205px;
	height: 165px;
}
.logo_sprt2{
	margin-top: 24px;
	margin-left: 10px;
}
.logo_grade2 p{
	width: 60%;
	height: 33px;
	padding-top: 10px;
	padding-left: 13px;
	font-size: 17px;
	letter-spacing: -0.1px;
}
.text_two{
	width: 110px;
	height: 100px;
	margin-left: 43px;
	padding: 0;
	line-height: 17px;
}
.two_grade-bottom_menu > p{
	padding-right: 23%;
	line-height: 22px;
}
.three_grade-bottom_menu{
	width: 310px;
	height: 165px;
}
.logo_sprt3{
	margin-top: 23px;
	margin-left: 0;
}
.logo_grade3 p{
	height: 32px;
	padding-top: 10px;
	padding-left: 17px;
	font-size: 17px;
	letter-spacing: -0.1px;
}
.text_three{
	width: 110px;
	height: 100px;
	margin-left: 35px;
	padding: 0;
}
.three_grade-bottom_menu > p{
	padding-right: 52%;
	line-height: 23px;
}
/*news*/
.wrap-news{
	max-width: 768px;
	height: 340px;
}
.news{
	width: 90%;
	max-width: 800px;
}
/*left side news*/
.left_news{
	width: 35%;
	max-width: 280px;
	height: 100%;
	min-height: 330px;
	margin-left: 8%;
	padding-left: 5px;
	position: relative;
	-webkit-flex: 1;
}
.news_article{
	height: 275px;
}
#active2{
	width: 100%;
	height: 20px;
	float: left;
	padding-left: 10px;
	text-align: center;
}
.info2{
	width: 70%;
	margin-top: 24%;
	padding-left: 32px;
}
.corner{
	display: none;
}
.info2 > p{
	width: 95px;
}
.info2 > p > span:nth-child(1){
	font-size: 18px;
	letter-spacing: -0.2px;
}
.info2 > p > span:nth-child(2){
	font-size: 18px;
	letter-spacing: -0.2px;
	line-height: 13px;
}
.text2{
	height: 100px;
	overflow: hidden;
	margin-top: 8px;
}
/*right side news*/
.wrap_right{
	width: 100%;
	margin: 25% auto;
	padding-top: 4px;
	padding-left: 13px;
}
.wrap_right > p{
	letter-spacing: 0.1px;
}
.text_block{
	width: 55%;
	height: 35px;
}
noindex:-o-prefocus,.text_block{
	width: 66%;
}
.butt_block{
	margin-right: 32%;
}
noindex:-o-prefocus,.butt_block{
	margin-right: 20%;
}
/*block brands*/
.brands{
	width: 100%;
	height: 81px;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
}
.brands_centr{
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 13px;
	display: flex;
	justify-content: center;
}
.brand1,.brand2,.brand3,.brand4{
	width: 50px;
	height: 46px;
}
.brand5{
	width: 80px;
	height: 46px;
}
.brand6{
	width: 59px;
	height: 46px;
}
.brand1 a,.brand2 a,.brand3 a,.brand4 a,.brand5 a,.brand6 a{
	display: block;
	margin: 0;
	margin: 0;
}
.brand1,.brand2,.brand3,.brand4,.brand5,.brand6{
	float: left;
	margin-left: 0;
	margin-right: 0;
}
.brand1{
	margin-top: 5px;
	margin-left: -5px;
	margin-right: 35px;
}
.brand2{
	margin-top: 5px;
}
.brand3{
	margin-top: 5px;
	margin-left: 40px;
	margin-right: 39px;
}
.brand4{
	margin-top: 5px;
	margin-right: 15px;
}
.brand5{
	margin-top: 5px;
	margin-left: 10px;
}
.brand6{
	margin-top: 5px;
	margin-left: 32px;
}
/*category*/
.wrap-category{
	height: 278px;
}
.category{
	max-width: 768px;
	justify-content: flex-end;
}
.category_left{
	width: 220px;
	padding-left: 110px;
}
.category_copy{
	width: 80%;
}
.category_text{
	width: 85%;
}
.category_centr{
	width: 206px;
	padding-left: 2px;
}
.category_titl1{
	font-size: 18px;
}
.category_text1{
	width: 90%;
}
noindex:-o-prefocus,.category_text1{
	height: 140px;
}
.category_right{
	width: 312px;
	padding-left: 2px;
}
.category_titl2{
	font-size: 18px;
}
.category_text2{
	width: 55%;
}
noindex:-o-prefocus,.category_text2{
	height: 140px;
}
/*footer*/
.wrap-footer{
	width: 100%;
	max-width: 768px;
	background: url(../img/foot.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.6);
}
footer{
	width: 100%;
}
/*ned_menu*/
.menu-ned_menu .first_li-ned_menu{
	margin-left: 73px;
}
nav:nth-child(1){
	width: 68%;
	margin: 0;
	padding-top: 28px;
	float: left;
}
.menu-ned_menu{
	width: 100%;
	margin: 0;
}
footer p{
	float: left;
	margin: 0px;
	margin-top: 50px;
	padding-left: 4px;
	line-height: 50px;
	color: #fff;
}
}

@media (max-width: 480px){
.wrap-header{
	width: 480px;
	height: 371px;
	background: url(../img/top.png) no-repeat;
	background-size: 100% 100%;
}
header{
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}
.logo-header{
	width: 120px;
	margin: 0 auto;
	float: none;
}
nav:nth-child(2){
	width: 37%;
	height: 35px;
	float: none;
	padding-top: 5px;
	padding-left: 0;
	margin: 0 34% auto;
	position: absolute;
	z-index: 99;
}
.menu-top_menu{
	height: 35px;
	padding-top: 0;
	float: none;
	text-align: center;
	overflow: hidden;
}
.menu-top_menu li{
	width: 100%;
	margin-right: 0;
	display: block;
}
.one_li-menu > a{
	padding-top: 4px;
	padding-bottom: 5px;
}
.one_li-menu > a:hover{
	height: 35px;
	padding-top: 4px;
	padding-bottom: 0;
}
.menu-top_menu li a{
	height: 30px;
	display: block;
	border-bottom: 1px solid rgba(99, 79, 107, 1);
}
.one_li-menu a:hover{
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
nav:nth-child(2):hover .menu-top_menu{
	display: block;
	height: 204px;
	overflow: visible;
	background-color: rgba(63, 51, 72, 0.7);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}
.menu-top_menu li a:hover{
	background-color: #29202F;
	border-bottom: 1px solid #EEC4FF;
}
/*slider*/
.main_shad{
	height: 58%;
	margin: 6% auto;
}
noindex:-o-prefocus,.main_shad{
	margin: 12% auto;
}
.main_slide{
	max-width: 480px;
	height: 270px;
}
article{
	height: 200px;
}
.info{
	width: 65%;
	height: 100%;
	max-height: 285px;
	margin: 0 auto;
	padding-left: 0;
}
.capt{
	width: 43%;
	margin-top: 7%;
}
.active{
	margin-top: 20px;
	padding-left: 45%;
}

.prev-slider{
	margin: 103px 0 0 82%;
}
noindex:-o-prefocus,.prev-slider{
	margin: 130px 0 0 82%;
}
.next-slider{
	margin: -197px 0 0 14%;
}
.text{
	width: 45%;
	height: 80px;
	padding: 100px 0 0 17px;
	overflow: hidden;
}
.text > span{
	font-size: 24px;
}
.text > a{
	padding-top: 9px;
	white-space: nowrap;
	font-size: 14px;
	letter-spacing: -0.6px;
}
noindex:-o-prefocus,.text > a{
	padding-top: 12px;
}
.text p{
	display: none;
}
/*ABOUT OUR COMPANY*/
.bottom_menu{
	width: 480px;
	height: 420px;
}
.wrap-bottom_menu{
	width: 65%;
	height: 100%;
	display: block;
	padding-top: 1px;
}
.one_grade-bottom_menu{
	width: 100%;
	height: 110px;
	margin-top: 15%;
	padding-left: 0;
	overflow: hidden;
}
.logo_sprt{
	margin-top: 9px;
	margin-left: 14px;
	position:relative;
}
.logo_grade1 p{
	width: 60%;
	height: 20px;
	padding-top: 0;
	padding-left: 17px;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 28px;
}
.text_one{
	width: 250px;
	height: 50px;
	padding: 0;
	line-height: 16px;
}
.one_grade-bottom_menu > p{
	padding-right: 1%;
	line-height: 32px;
}
.two_grade-bottom_menu{
	width: 100%;
	height: 110px;
	margin-top: 0;
	overflow: hidden;
}
.logo_sprt2{
	margin-top: 10px;
	margin-left: 12px;
}
.logo_grade2 p{
	width: 60%;
	height: 23px;
	padding-top: 0;
	padding-left: 20px;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 28px;
}
.text_two{
	width: 250px;
	height: 50px;
	margin-left: 49px;
	margin-top: 4px;
	padding: 0;
	line-height: 16px;
}
.two_grade-bottom_menu > p{
	padding-right: 1%;
	line-height: 33px;
}
.three_grade-bottom_menu{
	width: 100%;
	height: 110px;
	margin-top: 0;
	overflow: hidden;
}
.logo_sprt3{
	margin-top: 11px;
	margin-left: 10px;
}
.logo_grade3 p{
	height: 26px;
	padding-top: 0;
	padding-left: 21px;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 35px;
}
.text_three{
	width: 250px;
	height: 50px;
	margin-left: 48px;
	padding: 0;
	line-height: 16px;
}
.three_grade-bottom_menu > p{
	padding-right: 1%;
	line-height: 33px;
}
/*news*/
.wrap-news{
	width: 480px;
	height: 550px;
}
.news{
	width: 85%;
	display: block;
	height: 550px;
}
/*left side news*/
.left_news{
	width: 100%;
	min-width: 350px;
	min-height: 275px;
	height: 275px;
}
.capt2{
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 12px;
	position: absolute;
}
.capt2 img{
	width: 35px;
	height: 35px;
	margin-left: 5px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
}
.news_article{
	height: 275px;
}
#active2{
	width: 100%;
	height: 20px;
	float: left;
	margin-top: -20px;
	padding-left: 0;
	text-align: center;
}
.info2{
	width: 75%;
	height: 190px;
	margin-top: 13%;
	margin-left: 10%;
	padding-left: 23px;
}
.corner{
	display: none;
}
.info2 > p{
	width: 150px;
	margin-top: 19px;
	margin-left: 0;
}
.info2 > p > span:nth-child(1){
	font-size: 20px;
	letter-spacing: 0.1px;
}
.info2 > p > span:nth-child(2){
	font-size: 20px;
	letter-spacing: 0.1px;
	color: #EBBDFD;
}
.text2{
	height: 120px;
	margin-top: 9px;
	padding-right: 20px;
}
.text2 > a{
	text-decoration: none;
	line-height: 17px;
	font-size: 11px;
	font-family: "OpenSansLight";
	color: #000;
	letter-spacing: 0;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.text2 > a:hover{
	text-decoration: underline;
}
/*right side news*/
.right_news{
	width: 100%;
	min-width: 420px;
	height: 220px;
	position: relative;
	font-size: 11px;
	font-family: "OpenSansLight";
	overflow: hidden;
	background-color: #F9F9F9;
	-webkit-flex: 1;
}
.wrap_right{
	width: 58%;
	height: 100%;
	margin: 0 auto;
	padding-top: 25px;
	padding-left: 15px;
}
.wrap_right > p{
	margin-bottom: 10px;
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	letter-spacing: 0.35px;
}
.wrap_block{
	line-height: 30px;
}
.captur_block{
	float: left;
}
.captur_block img{
	width: 35px;
	height: 35px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
}
.text_block{
	width: 75%;
	height: 35px;
	float: left;
	padding-left: 12px;
	overflow: hidden;
}
.text_block p{
	font-weight: 900;
	letter-spacing: -0.1px;
	font-size: 11px;
	font-family: "Arial";
	line-height: 15px;
}
.text_block p span{
	display: block;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.butt_block{
	margin-right: 3%;
	margin-top: 1%;
}
/*block brands*/
.brands{
	width: 480px;
	height: 160px;
}
.brands_centr{
	width: 60%;
	height: 100%;
	display: block;
	padding: 0;
	padding-top: 25px;
}
.brand1,.brand2,.brand3,.brand4{
	width: 50px;
	height: 46px;
}
.brand5{
	width: 80px;
	height: 46px;
}
.brand6{
	width: 59px;
	height: 46px;
}
.brand1 a,.brand2 a,.brand3 a,.brand4 a,.brand5 a,.brand6 a{
	display: block;
	margin: 0;
	margin: 0;
}
.brand1,.brand2,.brand3,.brand4,.brand5,.brand6{
	float: left;
	margin-left: 0;
	margin-right: 0;
}
.brand1{
	margin-top: 0;
	margin-left: 35px;
	margin-right: 38px;
}
.brand2{
	margin-top: 0;
}
.brand3{
	margin-top: 0;
	margin-left: 37px;
	margin-right: 0;
}
.brand4{
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 28px;
}
.brand5{
	margin-top: 15px;
	margin-left: 0;
}
.brand6{
	margin-top: 17px;
	margin-left: 32px;
}
/*category*/
.wrap-category{
	width: 480px;
	height: 468px;
}
.category{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: block;
}

.category_left{
	width: 100%;
	height: 160px;
	padding: 0;
}
.category_titl{
	width: 75%;
	padding-top: 45px;
	padding-left: 40px;
}
.category_copy{
	padding-left: 40px;
}
.category_text{
	width: 85%;
	height: 35px;
	padding-left: 40px;
	overflow: hidden;
}
.category_centr{
	width: 100%;
	height: 150px;
	padding: 0;
}
.category_titl1{
	padding-top: 25px;
	padding-left: 40px;
	letter-spacing: -0.35px;
	font-size: 18px;
}
.category_text1{
	width: 85%;
	padding: 0;
	padding-left: 40px;
}
.category_right{
	width: 100%;
	height: 120px;
	padding: 0;
}
.category_titl2{
	padding-top: 6px;
	padding-left: 40px;
	font-size: 18px;
	letter-spacing: -0.35px;
}
.category_text2{
	width: 85%;
	height: 70px;
	padding-left: 40px;
}
/*footer*/
.wrap-footer{
	width: 480px;
	background: url(../img/foot.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.6);
}
footer{
	width: 100%;
}
/*ned_menu*/
.menu-ned_menu li{
	text-align: center;
}
.menu-ned_menu li{
	display: inline-block;
	margin-left: 17px;
}
.menu-ned_menu .first_li-ned_menu{
	margin-left: 0;
}
nav:nth-child(1){
	padding-top: 30px;
	float: none;
	margin: 0 auto;
}
footer p{
	width: 100px;
	float: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
}
noindex:-o-prefocus,footer p{
	width: 140px;
}
}

@media (max-width: 320px){
.wrap-header{
	width: 320px;
	height: 348px;
	background: url(../img/top.png) no-repeat;
	background-size: 100% 100%;
}
header{
	width: 100%;
	height: 90px;
	padding-top: 30px;
}
.logo-header{
	width: 120px;
	margin: 0 auto;
}
nav:nth-child(2){
	width: 60%;
	height: 35px;
	float: none;
	padding-top: 5px;
	padding-left: 0;
	margin: 0 24% auto;
	position: absolute;
	z-index: 99;
}
.menu-top_menu{
	height: 35px;
	padding-top: 0;
	float: none;
	text-align: center;
	overflow: hidden;
}
.menu-top_menu li{
	width: 100%;
	margin-right: 0;
	display: block;
}
.one_li-menu > a{
	padding-top: 4px;
	padding-bottom: 5px;
}
.one_li-menu > a:hover{
	height: 35px;
	padding-top: 4px;
	padding-bottom: 0;
}
.menu-top_menu li a{
	height: 30px;
	display: block;
	border-bottom: 1px solid rgba(99, 79, 107, 1);
}
.one_li-menu a:hover{
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
nav:nth-child(2):hover .menu-top_menu{
	display: block;
	height: 204px;
	overflow: visible;
	background-color: rgba(63, 51, 72, 0.7);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}
.menu-top_menu li a:hover{
	background-color: #29202F;
	border-bottom: 1px solid #EEC4FF;
}
/*slider*/
.main_shad{
	display: none;
}
.info{
	width: 60%;
	height: 35%;
	max-height: 285px;
	margin: 0 auto;
	padding-left: 0;
}
.capt{
	display: none;
}
.text{
	width: 73%;
	height: 60px;
	padding: 62px 0 0 32px;
	overflow: hidden;
}
.prev-slider{
	margin: 65px 0 0 82%;
}
noindex:-o-prefocus,.prev-slider{
	margin: 80px 0 0 82%;
}
.next-slider{
	margin: -225px 0 0 14%;
}
.active{
	margin-top: -50px;
	padding-left: 41%;
}
/*ABOUT OUR COMPANY*/
.bottom_menu{
	width: 320px;
	height: 420px;
}
.one_grade-bottom_menu{
	height: 107px;
	padding-top: 13px;
}
.text_one{
	width: 150px;
	margin-left: 53px;
}
.logo_grade1 p{
	padding-left: 21px;
}
.two_grade-bottom_menu{
	height: 112px;
	padding-top: 3px;
}
.text_two{
	width: 150px;
	margin-left: 53px;
}
.logo_grade2 p{
	padding-left: 23px;
}
.three_grade-bottom_menu{
	height: 109px;
	padding-top: 6px;
}
.text_three{
	width: 150px;
	margin-left: 53px;
}
.logo_grade3 p{
	padding-left: 26px;
}
/*news*/
.wrap-news{
	width: 320px;
	height: 550px;
}
.news{
	width: 80%;
	display: block;
	height: 550px;
}
/*left side news*/
.left_news{
	width: 80%;
	min-width: 255px;
	min-height: 280px;
	height: 280px;
	padding: 0;
	margin-left: 0;
}
.capt2{
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 28px;
	position: absolute;
}
#active2{
	width: 100%;
	height: 20px;
	float: left;
	margin-top: 0;
	text-align: center;
}
.info2{
	margin-top: 13%;
	width: 60%;
	height: 190px;
	margin-left: 20%;
	margin-top: 18%;
	padding-left: 23px;
}
.corner{
	display:none;
}
.info2 > p{
	width: 100px;
	margin-top: 19px;
	margin-left: 0;
}
.info2 > p > span:nth-child(1){
	font-size: 18px;
	letter-spacing: 0.1px;
}
.info2 > p > span:nth-child(2){
	font-size: 18px;
	letter-spacing: 0.1px;
	color: #EBBDFD;
}
.text2{
	height: 120px;
	margin-top: 3px;
	padding-right: 20px;
}
.text2 > a{
	text-decoration: none;
	line-height: 17px;
	font-size: 11px;
	font-family: "OpenSansLight";
	color: #000;
	letter-spacing: 0;
	text-shadow: 0.3px 0.3px 0 rgba(0, 0, 0, 0.7);
}
.text2 > a:hover{
	text-decoration: underline;
}
.news_article{
	height: 255px;
}
/*right side news*/
.right_news{
	width: 40%;
	min-width: 256px;
	height: 270px;
	margin: 0;
	padding: 0;
}
.wrap_right{
	width: 100%;
	height: 200px;
	margin: 0 auto;
	padding-left: 33px;
	padding-top: 20px;
}
.wrap_right > p{
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	letter-spacing: 0.35px;
	margin-bottom: 10px;
}
.wrap_block{
	line-height: 30px;
}
.captur_block{
	float: left;
}
.captur_block img{
	width: 35px;
	height: 35px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		border-radius: 50%;
}
.text_block{
	width: 59%;
	height: 35px;
	float: left;
	padding-left: 12px;
	overflow: hidden;
	white-space: nowrap;
}
noindex:-o-prefocus,.text_block{
	width: 57%;
}
.butt_block{
	margin-right: 25%;
	margin-top: 1%;
}
/*block brands*/
.brands{
	width: 320px;
	height: 295px;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
}
.brands_centr{
	width: 60%;
	max-width: 320px;
	height: 100%;
	padding: 0;
	padding-top: 35px;
}
.brand1,.brand2,.brand3,.brand4{
	width: 50px;
	height: 46px;
}
.brand5{
	width: 80px;
	height: 46px;
}
.brand6{
	width: 59px;
	height: 46px;
}
.brand1 a,.brand2 a,.brand3 a,.brand4 a,.brand5 a,.brand6 a{
	margin: 0;
	margin: 0;
}
.brand1,.brand2,.brand3,.brand4,.brand5,.brand6{
	float: left;
	margin-left: 0;
	margin-right: 0;
}
.brand1{
	margin-left: 28px;
	margin-right: 39px;
}
.brand3{
	margin-top: 42px;
	margin-left: 30px;
	margin-right: 39px;
}
.brand4{
	margin-top: 42px;
}
.brand5{
	margin-top: 28px;
	margin-left: 12px;
}
.brand6{
	margin-top: 28px;
	margin-left: 32px;
}
/*category*/
.wrap-category{
	display: none;
}
/*footer*/
.wrap-footer{
	width: 320px;
	background: url(../img/foot.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.6);
}
.menu-ned_menu{
	display: none;
}
nav:nth-child(1){
	padding-top: 28px;
}
footer p{
	width: 110px;
	line-height: 10px;
}
}